*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  height: 300px;
  width: 600px;
  display:flex;
  flex-direction: column;
  /* border: 1px solid green; */
  /* background-color: red; */
  box-shadow: 0 10px 20px grey;
}

.number-container{
  box-sizing: border-box;
  padding: 40px;
  display: flex;
  justify-content:space-between;
  height: 50px;
  width: inherit;
  align-items: center;
  /* border-bottom: 1px solid black; */
  /* border: 2px solid red */
}

.numbers{
  /* border: 1px solid black; */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 232, 232);
}

.active{
  background-color: rgb(107, 20, 107);
  color: white
}

.message{
  height: 150px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-container{
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding:  0 50px;
  align-items: center;
  height: 100px;
}

.btn{
    height: 40px;
    width: 90px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    box-shadow: 0 5px 3px grey;

}

.btn:hover{
  background-color: rgb(151, 12, 151);
  color: white;
}

.message p{
  font-size: 22px;
  font-style: italic;
}