@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
}

:root{
  --body-color: #222629;
  --primary: #474B4F;
  --button-color: #F79E02;
  --button-hover: #874CCC;
}
body{
  background-color: var(--body-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container{
  background-color: var(--primary);
  height: 700px;
  width: 550px;
  display: flex;
  flex-direction: column;
  border: none;
}

.date-container{
  height: 100px;
  width: inherit;
  background-color: var(--primary);
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-evenly;
  padding-right: 40px;
  box-sizing: border-box;
  font-family: 'Roboto';

}

.date-container span{
  font-size: 30px;
}

.todo-list{
  max-height: 360px;
  overflow-y: scroll;
  width: inherit; 
  border-bottom: 1px solid white;
}

.todo-item{
  height: 70px;
  width: inherit;
  /* border: 1px solid green; */
  font-family: 'Roboto';
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-size: 20px;
  box-sizing: border-box;
}

.btn{
  background-color: var(--button-color);
  height: 40px;
  width: 70px;
  border: none;
  border-radius: 6px;
  color: rgb(55, 54, 54);
}

.btn:hover{
  color: whitesmoke;
}

.text{
  font-size: 30px;
  font-family: 'Roboto';
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

form{
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Roboto';
  color: white;
  font-weight: bold;
}

input[type='checkbox']{
    height: 15px;
    width: 20px;
}

input[type='text']{
  outline: none;
  height: 40px;
  padding-left: 15px;
  width: 350px;
  border: none;
  font-family: 'Roboto';
  border-radius: 15px;
}

.desc{
  width: 200px;
}

select{
  width: 100px;
  height: 40px;
  border-radius: 15px;
  outline: none;
}

.filter-container{
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.stats{
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16x;
}